#atendimento
    .content
        margin-top: 94px
        h1
            font-family: $fontFamily2
            font-size: 50px
            line-height: 55px
            color: $green1
            margin-bottom: 73px
        h3
            font-size: 24px
            line-height: 35px
            font-family: $fontFamily1
        p
            font-size: 16px
            line-height: 25px
            &.sub
                margin: 22px auto 62px
        .col div
            height: 740px
            padding: 100px 50px
        .one
            background-color: $green1
            h3, p
                color: $white
        .two
            background-color: $green3
            h3, p
                color: $black2
        .three
            background-color: $green4
            h3, p
                color: $black2
