#home
    background: url(../images/home_bg.jpg) no-repeat top center
    background-size: 130%
    .content
        margin-top: 94px
        .c1
            h3
                font-family: $fontFamily1
                font-size: 18px
                line-height: 25px
                color: $green1
                margin-bottom: 17px
            p
                font-family: $fontFamily1
                font-size: 16px
                line-height: 25px
                color: $black
        .c2
            margin-top: 105px
            p
                font-size: 20px
                line-height: 43px
                color: $black
                a
                    font-size: 12px
                    line-height: 25px
                    color: $green1
        .c3
            margin: 84px 0 28px
            h1
                font-size: 50px
                line-height: 55px
                color: $green1
                font-family: $fontFamily2
            p
                font-size: 16px
                line-height: 25px
                color: $black2