.modal.right .modal-dialog
    position: fixed
    margin: auto
    min-width: 60vw
    max-width: 80vw
    height: 100%
    -webkit-transform: translate3d(0%, 0, 0)
    -ms-transform: translate3d(0%, 0, 0)
    -o-transform: translate3d(0%, 0, 0)
    transform: translate3d(0%, 0, 0)

// .modal.right .modal-content
//     width: 80%

// .modal.right .modal-content
//     max-height: 80vh
//     display: flex
//     flex-direction: column
//     justify-content: center
//     overflow: auto
//     @media(max-width: 768px)
//         min-height: calc(100vh - 20px)


.modal.right .modal-body
    padding: 70px 100px

/*Right*/
.modal.right.fade .modal-dialog
    right: 0
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out
    -o-transition: opacity 0.3s linear, right 0.3s ease-out
    transition: opacity 0.3s linear, right 0.3s ease-out

.modal.right.fade.in .modal-dialog
    right: -320px

/* ----- MODAL STYLE ----- */
.modal-content
    border-radius: 0
    border: none
    background: $green1 url(../images/texturafolhas.png) repeat

.modal-header
    border-bottom-color: #EEEEEE
    background-color: #FAFAFA